# Creating New Measures

Sometimes datasets may be missing key metrics or measures that would be useful for an analysis. While getting these measures from other datasets from a join is one option, if the data (ingredients) is already in the existing dataset, then we can derive the new measures with functions/formulas

## The Dataset...

The data used in these examples is dummy data.

It is developed from a combination of Wikipedia pages and random generated numbers.

Wiki Pages:

#### Products

- https://en.wikipedia.org/wiki/List_of_culinary_fruits
- https://en.wikipedia.org/wiki/List_of_vegetables

#### Store Names (random suburbs in Sydney)

- https://en.wikipedia.org/wiki/List_of_Sydney_suburbs

In [1]:
# Import the dependencies

import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore')

In [2]:
# Import the dataset

sales_data = pd.read_excel(r'../Data/SalesDataset.xlsx')

# Quick view of the data "The Head"
sales_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293

## Derive Net Sales from Gross_Sales and Discount Fields

In [3]:
# Calculate Net Sales from 2 fields/columns

sales_data["Net_Sales"] = sales_data["Gross_Sales"] * (1 - sales_data["Discount"])       

sales_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Net_Sales
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000,14.850000
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927,0.000000
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303,627.746880
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447,649.957952
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293,520.907713

In [4]:
# Calculate Price from 2 fields/columns

sales_data["Gross_Price"] = sales_data["Gross_Sales"] / sales_data["Units"]
sales_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Net_Sales,Gross_Price
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000,14.850000,0.03
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927,0.000000,0.00
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303,627.746880,1.85
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447,649.957952,2.10
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293,520.907713,1.50

In [5]:
# Tropical Fruit attracts a rebate that we have to pay (3%)

def tropical_fruit_rebate(Product_Group):
    if Product_Group == "Tropical Fruit":
        return 0.03
    else:
        return 0
    
sales_data["rebates"] = sales_data["Product_Group"].apply(tropical_fruit_rebate) * sales_data["Gross_Sales"]

sales_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Net_Sales,Gross_Price,rebates
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000,14.850000,0.03,0.8910
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927,0.000000,0.00,0.0000
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303,627.746880,1.85,37.2405
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447,649.957952,2.10,38.4930
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293,520.907713,1.50,30.7800

In [6]:
# Calculate Net Price

sales_data["Net_Price"] = sales_data["Net_Sales"] / sales_data["Units"]
sales_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Net_Sales,Gross_Price,rebates,Net_Price
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000,14.850000,0.03,0.8910,0.015000
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927,0.000000,0.00,0.0000,0.000000
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303,627.746880,1.85,37.2405,0.935539
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447,649.957952,2.10,38.4930,1.063761
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293,520.907713,1.50,30.7800,0.761561

In [7]:
# Alternative to calculating Net Price

sales_data["Net_Price_2"] = (sales_data["Gross_Sales"] * (1 - sales_data["Discount"])) / sales_data["Units"]
sales_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Net_Sales,Gross_Price,rebates,Net_Price,Net_Price_2
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000,14.850000,0.03,0.8910,0.015000,0.015000
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927,0.000000,0.00,0.0000,0.000000,0.000000
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303,627.746880,1.85,37.2405,0.935539,0.935539
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447,649.957952,2.10,38.4930,1.063761,1.063761
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293,520.907713,1.50,30.7800,0.761561,0.761561

## More advanced methods...

In [8]:
# Different Customer Groups create different administrative costs for us

# Review the Customer Groups...

sales_data["Customer_Group"].unique()

array(["A Market That's Super", 'Super Super Market', 'Market',
       'Not So Super Market'], dtype=object)

#### The business briefs us and says 

- Super Super Market = Assume 1.5% admin cost on Gross Sales
- Not So Super Market = Assume 1.7% admin cost on Gross Sales
- A Market That's Super = Assume 1.3% admin cost on Gross Sales
- Market = Assume 1.15% admin cost on Gross Sales

In [9]:
# Let's create the function

def find_admin_costs(Customer_Group):
    if Customer_Group == "Super Super Market":
        return 0.015
    elif Customer_Group == "Not So Super Market":
        return 0.017
    elif Customer_Group == "A Market That's Super":
        return 0.013
    elif Customer_Group == "Market":
        return 0.0115
    else:
        return 0
    
sales_data["Admin_Costs"] = sales_data["Customer_Group"].apply(find_admin_costs) * sales_data["Gross_Sales"]

sales_data.head(100)

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Net_Sales,Gross_Price,rebates,Net_Price,Net_Price_2,Admin_Costs
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000,14.850000,0.03,0.8910,0.015000,0.015000,0.386100
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303,627.746880,1.85,37.2405,0.935539,0.935539,14.275525
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447,649.957952,2.10,38.4930,1.063761,1.063761,16.680300
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293,520.907713,1.50,30.7800,0.761561,0.761561,13.338000
5,29/02/2020,NaN,A Market That's Super,2003,Berowra Waters,Fruit,Tropical Fruit,Ooray,1100082,685,938.45,0.491922,476.805579,1.37,28.1535,0.696067,0.696067,12.199850
6,31/07/2020,NaN,A Market That's Super,2000,Berowra,Fruit,Tropical Fruit,Passiflora platyloba,1100084,756,3054.24,0.490601,1555.828168,4.04,91.6272,2.057974,2.057974,39.705120
7,31/08/2020,NaN,Super Super Market,1001,Balgowlah,Fruit,Tropical Fruit,Wild jack,1100112,691,608.08,0.489313,310.538493,0.88,18.2424,0.449404,0.449404,9.121200
8,31/12/2019,1000000.0,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,Ice-cream bean,1100058,998,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
9,30/11/2020,NaN,A Market That's Super,2000,Berowra,Fruit,Tropical Fruit,Mammee,1100069,685,2664.65,0.485816,1370.119351,3.89,79.9395,2.000174,2.000174,34.640450
10,31/12/2020,NaN,Super Super Market,1011,Barden Ridge,Fruit,Tropical Fruit,Sugar-apple,1100103,762,1013.46,0.485567,521.357071,1.33,30.4038,0.684196,0.684196,15.201900
11,29/02/2020,NaN,Not So Super Market,1025,Belmore,Fruit,Tropical Fruit,Monkey jackfruit,1100074,621,496.80,0.484048,256.324939,0.80,14.9040,0.412762,0.412762,8.445600
12,31/12/2020,NaN,A Market That's Super,2012,Bilgola Plateau,Fruit,Tropical Fruit,Santol,1100096,784,0.00,0.483747,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
13,30/09/2020,NaN,Super Super Market,1018,Beacon Hill,Fruit,Tropical Fruit,Soursop,1100099,628,332.84,0.481963,172.423317,0.53,9.9852,0.274559,0.274559,4.992600
14,31/07/2020,NaN,Not So Super Market,1024,Bellevue Hill,Fruit,Tropical Fruit,Salak,1100094,666,0.00,0.481440,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
15,30/09/2020,NaN,A Market That's Super,2014,Birrong,Fruit,Tropical Fruit,Papaya,1100083,661,2610.95,0.478070,1362.733900,3.95,78.3285,2.061625,2.061625,33.942350
16,31/12/2020,NaN,Super Super Market,1011,Barden Ridge,Fruit,Tropical Fruit,White fig,1100111,684,3912.48,0.478034,2042.181386,5.72,117.3744,2.985645,2.985645,58.687200
17,31/12/2019,1000000.0,Not So Super Market,1021,Beecroft,Fruit,Tropical Fruit,Ice-cream bean,1100058,929,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
18,30/04/2020,NaN,Not So Super Market,1027,Berala,Fruit,Tropical Fruit,Red fruit,1100093,640,313.60,0.475460,164.495864,0.49,9.4080,0.257025,0.257025,5.331200
19,28/02/2019,1000000.0,Super Super Market,1004,Balmain East,Fruit,Tropical Fruit,Ice-cream bean,1100058,949,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
20,30/06/2020,NaN,Super Super Market,1003,Balmain,Fruit,Tropical Fruit,Sugar-apple,1100103,653,868.49,0.474087,456.750452,1.33,26.0547,0.699465,0.699465,13.027350
21,29/02/2020,NaN,Market,3003,Blairmount,Fruit,Tropical Fruit,Jícara,1100061,642,2144.28,0.470821,1134.707551,3.34,64.3284,1.767457,1.767457,24.659220
22,31/01/2020,NaN,Market,3003,Blairmount,Fruit,Tropical Fruit,Sandpaper fig,1100095,783,0.00,0.469700,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
23,31/03/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Jícara,1100061,623,2080.82,0.467179,1108.705315,3.34,62.4246,1.779623,1.779623,27.050660
24,31/07/2020,NaN,Not So Super Market,1024,Bellevue Hill,Fruit,Tropical Fruit,Maypop,1100071,646,0.00,0.466900,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
25,29/02/2020,NaN,Super Super Market,1011,Barden Ridge,Fruit,Tropical Fruit,Sugar-apple,1100103,780,1037.40,0.465146,554.857610,1.33,31.1220,0.711356,0.711356,15.561000
26,30/09/2019,1000000.0,Market,3004,Blakehurst,Fruit,Tropical Fruit,Ice-cream bean,1100058,826,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
27,31/12/2020,NaN,A Market That's Super,2013,Birchgrove,Fruit,Tropical Fruit,Luóhàn guǒ,1100067,680,469.20,0.464167,251.412834,0.69,14.0760,0.369725,0.369725,6.099600
28,31/10/2019,1000000.0,Super Super Market,1014,Bardwell Valley,Fruit,Tropical Fruit,Ice-cream bean,1100058,850,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
29,30/09/2019,1000000.0,Super Super Market,1003,Balmain,Fruit,Tropical Fruit,Ice-cream bean,1100058,875,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,31/07/2019,1000000.0,Super Super Market,1017,Bayview,Fruit,Tropical Fruit,Kola nut,1100062,886,1639.10,0.500000,819.550000,1.85,49.1730,0.925000,0.925000,24.586500
71,31/07/2019,1000000.0,Super Super Market,1007,Banksmeadow,Fruit,Tropical Fruit,Kola nut,1100062,810,1498.50,0.500000,749.250000,1.85,44.9550,0.925000,0.925000,22.477500
72,31/10/2020,NaN,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,Noni,1100081,683,2629.55,0.442315,1466.460756,3.85,78.8865,2.147087,2.147087,39.443250
73,31/01/2020,NaN,Not So Super Market,1026,Belrose,Fruit,Tropical Fruit,Strangler fig,1100102,683,4651.23,0.431648,2643.537976,6.81,139.5369,3.870480,3.870480,79.070910
74,31/03/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Papaya,1100083,718,2836.10,0.431044,1613.614721,3.95,85.0830,2.247374,2.247374,36.869300
75,30/06/2020,NaN,Not So Super Market,1026,Belrose,Fruit,Tropical Fruit,Sycamore fig,1100105,736,3613.76,0.431043,2056.073931,4.91,108.4128,2.793579,2.793579,61.433920
76,31/12/2019,1000000.0,Super Super Market,1011,Barden Ridge,Fruit,Tropical Fruit,Kola nut,1100062,975,1803.75,0.500000,901.875000,1.85,54.1125,0.925000,0.925000,27.056250
77,31/07/2020,NaN,Super Super Market,1014,Bardwell Valley,Fruit,Tropical Fruit,Soncoya,1100098,786,5462.70,0.430572,3110.612402,6.95,163.8810,3.957522,3.957522,81.940500
78,31/12/2020,NaN,Not So Super Market,1022,Belfield,Fruit,Tropical Fruit,South american sapote,1100100,705,6909.00,0.429055,3944.655865,9.80,207.2700,5.595257,5.595257,117.453000
79,31/10/2019,1000000.0,Not So Super Market,1027,Berala,Fruit,Tropical Fruit,Kola nut,1100062,860,1591.00,0.500000,795.500000,1.85,47.7300,0.925000,0.925000,27.047000
80,30/06/2020,NaN,Not So Super Market,1022,Belfield,Fruit,Tropical Fruit,Menteng,1100072,746,4960.90,0.424765,2853.685219,6.65,148.8270,3.825315,3.825315,84.335300
81,30/04/2020,NaN,Not So Super Market,1028,Berkshire Park,Fruit,Tropical Fruit,Soursop,1100099,629,333.37,0.424607,191.818796,0.53,10.0011,0.304958,0.304958,5.667290
82,30/06/2020,NaN,A Market That's Super,2005,Beverley Park,Fruit,Tropical Fruit,Keluak,1100063,670,3892.70,0.422822,2246.780931,5.81,116.7810,3.353404,3.353404,50.605100
83,31/05/2019,1000000.0,A Market That's Super,2010,Bidwill,Fruit,Tropical Fruit,Keluak,1100063,869,5048.89,0.500000,2524.445000,5.81,151.4667,2.905000,2.905000,65.635570
84,31/03/2020,NaN,A Market That's Super,2013,Birchgrove,Fruit,Tropical Fruit,Soursop,1100099,763,404.39,0.421490,233.943621,0.53,12.1317,0.306610,0.306610,5.257070
85,30/11/2019,1000000.0,Super Super Market,1010,Barangaroo,Fruit,Tropical Fruit,Keluak,1100063,863,5014.03,0.500000,2507.015000,5.81,150.4209,2.905000,2.905000,75.210450
86,28/02/2019,1000000.0,Market,3000,Blackett,Fruit,Tropical Fruit,Keluak,1100063,887,5153.47,0.500000,2576.735000,5.81,154.6041,2.905000,2.905000,59.264905
87,28/02/2019,1000000.0,Super Super Market,1001,Balgowlah,Fruit,Tropical Fruit,Keluak,1100063,841,4886.21,0.500000,2443.105000,5.81,146.5863,2.905000,2.905000,73.293150
88,29/02/2020,NaN,Super Super Market,1010,Barangaroo,Fruit,Tropical Fruit,Maypop,1100071,681,0.00,0.419754,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
89,31/01/2020,NaN,Not So Super Market,1023,Bella Vista,Fruit,Tropical Fruit,Pepino,1100087,734,2965.36,0.419625,1721.019669,4.04,88.9608,2.344713,2.344713,50.411120
90,31/08/2020,NaN,Super Super Market,1017,Bayview,Fruit,Tropical Fruit,Passiflora platyloba,1100084,632,2553.28,0.418300,1485.241854,4.04,76.5984,2.350066,2.350066,38.299200
91,31/03/2019,1000000.0,A Market That's Super,2002,Berowra Heights,Fruit,Tropical Fruit,Keluak,1100063,938,5449.78,0.500000,2724.890000,5.81,163.4934,2.905000,2.905000,70.847140
92,31/12/2020,NaN,A Market That's Super,2014,Birrong,Fruit,Tropical Fruit,Pineapple,1100089,727,239.91,0.412882,140.855461,0.33,7.1973,0.193749,0.193749,3.118830
93,30/09/2020,NaN,A Market That's Super,2004,Berrilee,Fruit,Tropical Fruit,Red fruit,1100093,702,343.98,0.412575,202.062547,0.49,10.3194,0.287838,0.287838,4.471740
94,30/11/2020,NaN,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,South american sapote,1100100,722,7075.60,0.409453,4178.477271,9.80,212.2680,5.787365,5.787365,106.134000
95,31/07/2019,1000000.0,Super Super Market,1002,Balgowlah Heights,Fruit,Tropical Fruit,Keluak,1100063,874,5077.94,0.500000,2538.970000,5.81,152.3382,2.905000,2.905000,76.169100
96,30/06/2019,1000000.0,A Market That's Super,2008,Bexley North,Fruit,Tropical Fruit,Keluak,1100063,991,5757.71,0.500000,2878.855000,5.81,172.7313,2.905000,2.905000,74.850230
97,31/07/2020,NaN,A Market That's Super,2002,Berowra Heights,Fruit,Tropical Fruit,Terap,1100107,662,993.00,0.407060,588.789021,1.50,29.7900,0.889409,0.889409,12.909000
98,31/03/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Trichosanthes beccariana,1100108,769,0.00,0.403017,0.000000,0.00,0.0000,0.000000,0.000000,0.000000
99,30/04/2019,1000000.0,Super Super Market,1013,Bardwell Park,Fruit,Tropical Fruit,Keluak,1100063,831,4828.11,0.500000,2414.055000,5.81,144.8433,2.905000,2.905000,72.421650

### Business Forgets to tell you about an exception to this logic...

Customer Group "Super Super Market" doesn't charge us admin fees for Stores "Bangor" and "Bankstown Aerodrome", because we negotiated a deal with them (fictional remember??)

In [10]:
# Concat Customer Group and Store Name

sales_data["Group_Store_Concat"] = sales_data["Customer_Group"] + " - " + sales_data["Store_Name"]
sales_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Net_Sales,Gross_Price,rebates,Net_Price,Net_Price_2,Admin_Costs,Group_Store_Concat
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000,14.850000,0.03,0.8910,0.015000,0.015000,0.386100,A Market That's Super - Berowra Creek
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Super Super Market - Bardia
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303,627.746880,1.85,37.2405,0.935539,0.935539,14.275525,Market - Blackett
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447,649.957952,2.10,38.4930,1.063761,1.063761,16.680300,A Market That's Super - Bilgola Beach
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293,520.907713,1.50,30.7800,0.761561,0.761561,13.338000,A Market That's Super - Beverly Hills

In [11]:
def exceptions(Concat_Store_Name):
    if Concat_Store_Name == "Super Super Market - Bangor" or Concat_Store_Name == "Super Super Market - Bankstown Aerodrome":
        return 0
    else:
        return 1


sales_data["admin_exception_flag"] = sales_data["Group_Store_Concat"].apply(exceptions)

sales_data["Admin_CostsV2"] = sales_data["Admin_Costs"] * sales_data["admin_exception_flag"]

sales_data.drop(['admin_exception_flag'], axis=1, inplace=True)


sales_data.head(100)

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Net_Sales,Gross_Price,rebates,Net_Price,Net_Price_2,Admin_Costs,Group_Store_Concat,Admin_CostsV2
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000,14.850000,0.03,0.8910,0.015000,0.015000,0.386100,A Market That's Super - Berowra Creek,0.386100
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Super Super Market - Bardia,0.000000
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303,627.746880,1.85,37.2405,0.935539,0.935539,14.275525,Market - Blackett,14.275525
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447,649.957952,2.10,38.4930,1.063761,1.063761,16.680300,A Market That's Super - Bilgola Beach,16.680300
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293,520.907713,1.50,30.7800,0.761561,0.761561,13.338000,A Market That's Super - Beverly Hills,13.338000
5,29/02/2020,NaN,A Market That's Super,2003,Berowra Waters,Fruit,Tropical Fruit,Ooray,1100082,685,938.45,0.491922,476.805579,1.37,28.1535,0.696067,0.696067,12.199850,A Market That's Super - Berowra Waters,12.199850
6,31/07/2020,NaN,A Market That's Super,2000,Berowra,Fruit,Tropical Fruit,Passiflora platyloba,1100084,756,3054.24,0.490601,1555.828168,4.04,91.6272,2.057974,2.057974,39.705120,A Market That's Super - Berowra,39.705120
7,31/08/2020,NaN,Super Super Market,1001,Balgowlah,Fruit,Tropical Fruit,Wild jack,1100112,691,608.08,0.489313,310.538493,0.88,18.2424,0.449404,0.449404,9.121200,Super Super Market - Balgowlah,9.121200
8,31/12/2019,1000000.0,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,Ice-cream bean,1100058,998,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Super Super Market - Bankstown Aerodrome,0.000000
9,30/11/2020,NaN,A Market That's Super,2000,Berowra,Fruit,Tropical Fruit,Mammee,1100069,685,2664.65,0.485816,1370.119351,3.89,79.9395,2.000174,2.000174,34.640450,A Market That's Super - Berowra,34.640450
10,31/12/2020,NaN,Super Super Market,1011,Barden Ridge,Fruit,Tropical Fruit,Sugar-apple,1100103,762,1013.46,0.485567,521.357071,1.33,30.4038,0.684196,0.684196,15.201900,Super Super Market - Barden Ridge,15.201900
11,29/02/2020,NaN,Not So Super Market,1025,Belmore,Fruit,Tropical Fruit,Monkey jackfruit,1100074,621,496.80,0.484048,256.324939,0.80,14.9040,0.412762,0.412762,8.445600,Not So Super Market - Belmore,8.445600
12,31/12/2020,NaN,A Market That's Super,2012,Bilgola Plateau,Fruit,Tropical Fruit,Santol,1100096,784,0.00,0.483747,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,A Market That's Super - Bilgola Plateau,0.000000
13,30/09/2020,NaN,Super Super Market,1018,Beacon Hill,Fruit,Tropical Fruit,Soursop,1100099,628,332.84,0.481963,172.423317,0.53,9.9852,0.274559,0.274559,4.992600,Super Super Market - Beacon Hill,4.992600
14,31/07/2020,NaN,Not So Super Market,1024,Bellevue Hill,Fruit,Tropical Fruit,Salak,1100094,666,0.00,0.481440,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Not So Super Market - Bellevue Hill,0.000000
15,30/09/2020,NaN,A Market That's Super,2014,Birrong,Fruit,Tropical Fruit,Papaya,1100083,661,2610.95,0.478070,1362.733900,3.95,78.3285,2.061625,2.061625,33.942350,A Market That's Super - Birrong,33.942350
16,31/12/2020,NaN,Super Super Market,1011,Barden Ridge,Fruit,Tropical Fruit,White fig,1100111,684,3912.48,0.478034,2042.181386,5.72,117.3744,2.985645,2.985645,58.687200,Super Super Market - Barden Ridge,58.687200
17,31/12/2019,1000000.0,Not So Super Market,1021,Beecroft,Fruit,Tropical Fruit,Ice-cream bean,1100058,929,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Not So Super Market - Beecroft,0.000000
18,30/04/2020,NaN,Not So Super Market,1027,Berala,Fruit,Tropical Fruit,Red fruit,1100093,640,313.60,0.475460,164.495864,0.49,9.4080,0.257025,0.257025,5.331200,Not So Super Market - Berala,5.331200
19,28/02/2019,1000000.0,Super Super Market,1004,Balmain East,Fruit,Tropical Fruit,Ice-cream bean,1100058,949,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Super Super Market - Balmain East,0.000000
20,30/06/2020,NaN,Super Super Market,1003,Balmain,Fruit,Tropical Fruit,Sugar-apple,1100103,653,868.49,0.474087,456.750452,1.33,26.0547,0.699465,0.699465,13.027350,Super Super Market - Balmain,13.027350
21,29/02/2020,NaN,Market,3003,Blairmount,Fruit,Tropical Fruit,Jícara,1100061,642,2144.28,0.470821,1134.707551,3.34,64.3284,1.767457,1.767457,24.659220,Market - Blairmount,24.659220
22,31/01/2020,NaN,Market,3003,Blairmount,Fruit,Tropical Fruit,Sandpaper fig,1100095,783,0.00,0.469700,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Market - Blairmount,0.000000
23,31/03/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Jícara,1100061,623,2080.82,0.467179,1108.705315,3.34,62.4246,1.779623,1.779623,27.050660,A Market That's Super - Beverly Hills,27.050660
24,31/07/2020,NaN,Not So Super Market,1024,Bellevue Hill,Fruit,Tropical Fruit,Maypop,1100071,646,0.00,0.466900,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Not So Super Market - Bellevue Hill,0.000000
25,29/02/2020,NaN,Super Super Market,1011,Barden Ridge,Fruit,Tropical Fruit,Sugar-apple,1100103,780,1037.40,0.465146,554.857610,1.33,31.1220,0.711356,0.711356,15.561000,Super Super Market - Barden Ridge,15.561000
26,30/09/2019,1000000.0,Market,3004,Blakehurst,Fruit,Tropical Fruit,Ice-cream bean,1100058,826,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Market - Blakehurst,0.000000
27,31/12/2020,NaN,A Market That's Super,2013,Birchgrove,Fruit,Tropical Fruit,Luóhàn guǒ,1100067,680,469.20,0.464167,251.412834,0.69,14.0760,0.369725,0.369725,6.099600,A Market That's Super - Birchgrove,6.099600
28,31/10/2019,1000000.0,Super Super Market,1014,Bardwell Valley,Fruit,Tropical Fruit,Ice-cream bean,1100058,850,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Super Super Market - Bardwell Valley,0.000000
29,30/09/2019,1000000.0,Super Super Market,1003,Balmain,Fruit,Tropical Fruit,Ice-cream bean,1100058,875,0.00,0.500000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Super Super Market - Balmain,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,31/07/2019,1000000.0,Super Super Market,1017,Bayview,Fruit,Tropical Fruit,Kola nut,1100062,886,1639.10,0.500000,819.550000,1.85,49.1730,0.925000,0.925000,24.586500,Super Super Market - Bayview,24.586500
71,31/07/2019,1000000.0,Super Super Market,1007,Banksmeadow,Fruit,Tropical Fruit,Kola nut,1100062,810,1498.50,0.500000,749.250000,1.85,44.9550,0.925000,0.925000,22.477500,Super Super Market - Banksmeadow,22.477500
72,31/10/2020,NaN,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,Noni,1100081,683,2629.55,0.442315,1466.460756,3.85,78.8865,2.147087,2.147087,39.443250,Super Super Market - Bankstown Aerodrome,0.000000
73,31/01/2020,NaN,Not So Super Market,1026,Belrose,Fruit,Tropical Fruit,Strangler fig,1100102,683,4651.23,0.431648,2643.537976,6.81,139.5369,3.870480,3.870480,79.070910,Not So Super Market - Belrose,79.070910
74,31/03/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Papaya,1100083,718,2836.10,0.431044,1613.614721,3.95,85.0830,2.247374,2.247374,36.869300,A Market That's Super - Bilgola Beach,36.869300
75,30/06/2020,NaN,Not So Super Market,1026,Belrose,Fruit,Tropical Fruit,Sycamore fig,1100105,736,3613.76,0.431043,2056.073931,4.91,108.4128,2.793579,2.793579,61.433920,Not So Super Market - Belrose,61.433920
76,31/12/2019,1000000.0,Super Super Market,1011,Barden Ridge,Fruit,Tropical Fruit,Kola nut,1100062,975,1803.75,0.500000,901.875000,1.85,54.1125,0.925000,0.925000,27.056250,Super Super Market - Barden Ridge,27.056250
77,31/07/2020,NaN,Super Super Market,1014,Bardwell Valley,Fruit,Tropical Fruit,Soncoya,1100098,786,5462.70,0.430572,3110.612402,6.95,163.8810,3.957522,3.957522,81.940500,Super Super Market - Bardwell Valley,81.940500
78,31/12/2020,NaN,Not So Super Market,1022,Belfield,Fruit,Tropical Fruit,South american sapote,1100100,705,6909.00,0.429055,3944.655865,9.80,207.2700,5.595257,5.595257,117.453000,Not So Super Market - Belfield,117.453000
79,31/10/2019,1000000.0,Not So Super Market,1027,Berala,Fruit,Tropical Fruit,Kola nut,1100062,860,1591.00,0.500000,795.500000,1.85,47.7300,0.925000,0.925000,27.047000,Not So Super Market - Berala,27.047000
80,30/06/2020,NaN,Not So Super Market,1022,Belfield,Fruit,Tropical Fruit,Menteng,1100072,746,4960.90,0.424765,2853.685219,6.65,148.8270,3.825315,3.825315,84.335300,Not So Super Market - Belfield,84.335300
81,30/04/2020,NaN,Not So Super Market,1028,Berkshire Park,Fruit,Tropical Fruit,Soursop,1100099,629,333.37,0.424607,191.818796,0.53,10.0011,0.304958,0.304958,5.667290,Not So Super Market - Berkshire Park,5.667290
82,30/06/2020,NaN,A Market That's Super,2005,Beverley Park,Fruit,Tropical Fruit,Keluak,1100063,670,3892.70,0.422822,2246.780931,5.81,116.7810,3.353404,3.353404,50.605100,A Market That's Super - Beverley Park,50.605100
83,31/05/2019,1000000.0,A Market That's Super,2010,Bidwill,Fruit,Tropical Fruit,Keluak,1100063,869,5048.89,0.500000,2524.445000,5.81,151.4667,2.905000,2.905000,65.635570,A Market That's Super - Bidwill,65.635570
84,31/03/2020,NaN,A Market That's Super,2013,Birchgrove,Fruit,Tropical Fruit,Soursop,1100099,763,404.39,0.421490,233.943621,0.53,12.1317,0.306610,0.306610,5.257070,A Market That's Super - Birchgrove,5.257070
85,30/11/2019,1000000.0,Super Super Market,1010,Barangaroo,Fruit,Tropical Fruit,Keluak,1100063,863,5014.03,0.500000,2507.015000,5.81,150.4209,2.905000,2.905000,75.210450,Super Super Market - Barangaroo,75.210450
86,28/02/2019,1000000.0,Market,3000,Blackett,Fruit,Tropical Fruit,Keluak,1100063,887,5153.47,0.500000,2576.735000,5.81,154.6041,2.905000,2.905000,59.264905,Market - Blackett,59.264905
87,28/02/2019,1000000.0,Super Super Market,1001,Balgowlah,Fruit,Tropical Fruit,Keluak,1100063,841,4886.21,0.500000,2443.105000,5.81,146.5863,2.905000,2.905000,73.293150,Super Super Market - Balgowlah,73.293150
88,29/02/2020,NaN,Super Super Market,1010,Barangaroo,Fruit,Tropical Fruit,Maypop,1100071,681,0.00,0.419754,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Super Super Market - Barangaroo,0.000000
89,31/01/2020,NaN,Not So Super Market,1023,Bella Vista,Fruit,Tropical Fruit,Pepino,1100087,734,2965.36,0.419625,1721.019669,4.04,88.9608,2.344713,2.344713,50.411120,Not So Super Market - Bella Vista,50.411120
90,31/08/2020,NaN,Super Super Market,1017,Bayview,Fruit,Tropical Fruit,Passiflora platyloba,1100084,632,2553.28,0.418300,1485.241854,4.04,76.5984,2.350066,2.350066,38.299200,Super Super Market - Bayview,38.299200
91,31/03/2019,1000000.0,A Market That's Super,2002,Berowra Heights,Fruit,Tropical Fruit,Keluak,1100063,938,5449.78,0.500000,2724.890000,5.81,163.4934,2.905000,2.905000,70.847140,A Market That's Super - Berowra Heights,70.847140
92,31/12/2020,NaN,A Market That's Super,2014,Birrong,Fruit,Tropical Fruit,Pineapple,1100089,727,239.91,0.412882,140.855461,0.33,7.1973,0.193749,0.193749,3.118830,A Market That's Super - Birrong,3.118830
93,30/09/2020,NaN,A Market That's Super,2004,Berrilee,Fruit,Tropical Fruit,Red fruit,1100093,702,343.98,0.412575,202.062547,0.49,10.3194,0.287838,0.287838,4.471740,A Market That's Super - Berrilee,4.471740
94,30/11/2020,NaN,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,South american sapote,1100100,722,7075.60,0.409453,4178.477271,9.80,212.2680,5.787365,5.787365,106.134000,Super Super Market - Bankstown Aerodrome,0.000000
95,31/07/2019,1000000.0,Super Super Market,1002,Balgowlah Heights,Fruit,Tropical Fruit,Keluak,1100063,874,5077.94,0.500000,2538.970000,5.81,152.3382,2.905000,2.905000,76.169100,Super Super Market - Balgowlah Heights,76.169100
96,30/06/2019,1000000.0,A Market That's Super,2008,Bexley North,Fruit,Tropical Fruit,Keluak,1100063,991,5757.71,0.500000,2878.855000,5.81,172.7313,2.905000,2.905000,74.850230,A Market That's Super - Bexley North,74.850230
97,31/07/2020,NaN,A Market That's Super,2002,Berowra Heights,Fruit,Tropical Fruit,Terap,1100107,662,993.00,0.407060,588.789021,1.50,29.7900,0.889409,0.889409,12.909000,A Market That's Super - Berowra Heights,12.909000
98,31/03/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Trichosanthes beccariana,1100108,769,0.00,0.403017,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Super Super Market - Bardia,0.000000
99,30/04/2019,1000000.0,Super Super Market,1013,Bardwell Park,Fruit,Tropical Fruit,Keluak,1100063,831,4828.11,0.500000,2414.055000,5.81,144.8433,2.905000,2.905000,72.421650,Super Super Market - Bardwell Park,72.421650

## Let's try the above in a more programmatic way...

In [12]:
def find_admin_costs(Customer_Group):
    if Customer_Group == "Super Super Market":
        return 0.015
    elif Customer_Group == "Not So Super Market":
        return 0.017
    elif Customer_Group == "A Market That's Super":
        return 0.013
    elif Customer_Group == "Market":
        return 0.0115
    else:
        return 0


def prog_admin_cost(col):
    if col["Customer_Group"] == "Super Super Market" and \
    col["Store_Name"] == "Bangor" or \
    col["Store_Name"] == "Bankstown Aerodrome":
        return 0
    else:
        return find_admin_costs(col["Customer_Group"]) * col["Gross_Sales"]
    
sales_data["Admin_CostsV3"] = sales_data.apply(prog_admin_cost, axis=1)
sales_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,...,Discount,Net_Sales,Gross_Price,rebates,Net_Price,Net_Price_2,Admin_Costs,Group_Store_Concat,Admin_CostsV2,Admin_CostsV3
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,...,0.500000,14.850000,0.03,0.8910,0.015000,0.015000,0.386100,A Market That's Super - Berowra Creek,0.386100,0.386100
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,...,0.498927,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,Super Super Market - Bardia,0.000000,0.000000
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,...,0.494303,627.746880,1.85,37.2405,0.935539,0.935539,14.275525,Market - Blackett,14.275525,14.275525
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,...,0.493447,649.957952,2.10,38.4930,1.063761,1.063761,16.680300,A Market That's Super - Bilgola Beach,16.680300,16.680300
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,...,0.492293,520.907713,1.50,30.7800,0.761561,0.761561,13.338000,A Market That's Super - Beverly Hills,13.338000,13.338000